body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
}
.calculator{
    width:500px;
    height: 550px;
    margin:0 auto;
    background-color: rgb(70, 39, 155);
    border:3px solid aqua;
    border-radius: 13px;
    padding:15px;
}
.calculator input[type="text"]{
    width:94%;
    padding:13px;
    margin-bottom:8px;
    font-size: 85px;
    background-color: gray;
    border-radius: 10px;
    height: 77px;
}
.calculator .row{
    display: flex;
}
.calculator .row .button{
    flex: 2;
    margin-right: 5px;
}
.calculator .row .button:last-child{
    margin-right: 0;
}
.calculator .row .button input[type="button"]{
    width:100%;
    font-size: 21px;
    background-color: rgb(190, 161, 190);
    padding:32px;
    border:5px;
    cursor:pointer;
    border-radius: 50%;
}
.calculator .row .button input[type="button"]:hover{
    background-color: rgb(194, 54, 147); 
    color:rgb(65, 12, 126);
    transform: scale(0.9);
}
h1{
    text-align: center;
    text-decoration: underline;
    color: red;
}
    


